mat-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 10px auto;

  &.me {
    background: #d9d9d9;
  }

  .username{
    color: #28acea;
    font-weight: bold;
    margin-right: 5px;
  }

  .score{
    font-weight: bold;
    font-size: 25px;
  }
}
