<div class="page-header">
  <h1>TOP 10 PLAYERS</h1>
  <img src="/assets/images/logo.png" alt="who wants to be a millionaire">
</div>

<app-loader *ngIf="requestHelper.loading"></app-loader>

<div>
  <mat-card
    *ngFor="let item of gameService.scores;"
    [class.me]="item.user.id === authService.userId">
     <span>
       <span class="username">#{{item.user.username}}</span>
       <span>{{item.user.first_name}} {{item.user.last_name}}</span>
     </span>
    <span class="score">{{item.score|number}}</span>
  </mat-card>
</div>
