.start-wrapper{
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 64px);
  background-image: url('/assets/images/backgrounds/start-game.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;

  &:before{
    content: '';
    background: rgba(36, 34, 34, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.game-wrapper{
  max-width: 1280px;
  margin: 0 auto;
  padding:0 15px;
}
