<app-menu></app-menu>
<div>
  <div class="start-wrapper" *ngIf="!childIsActive">
    <a routerLink="play" mat-raised-button color="accent">START GAME</a>
  </div>

  <div class="game-wrapper">
    <router-outlet
      (activate)="childIsActive = true"
      (deactivate)="childIsActive = false" >
    </router-outlet>
  </div>
</div>
