<div class="page-wrapper">
  <div class="auth-wrapper mat-elevation-z3">
    <form class="login-wrapper" [formGroup]="loginForm" (submit)="login()">
      <div class="overlay">

        <div class="company">
          <img src="/assets/images/logo.png" alt="who wants to be a millionaire" >
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Username" required autofocus>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
          </mat-form-field>
        </div>
        <div>
          <div>
            <button [disabled]="requestHelper.loading" type="submit" color="primary" mat-raised-button class="login-button">Sign In</button>
          </div>
          <a mat-button color="accent" routerLink="/register" class="login-button">Sign Up</a>
        </div>
      </div>
    </form>
  </div>
</div>


<a mat-button
   color="warn"
   href="http://localhost:8000/admin/"
   target="_blank"
   class="admin-href">
  ADMIN
</a>
