.page-wrapper{
  background-image: url('/assets/images/backgrounds/main.jpg');
  float: left;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;

  &:before{
    content: '';
    background: rgba(36, 34, 34, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .auth-wrapper{
    border-radius: 2px;
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 25px 10px;
    text-align: center;
    background: rgba(255,255,255, 0.8);

    .company{
      margin-top: 15px;
      margin-bottom: 35px;

      img{
        width: 100px;
      }
    }


    .login-button{
      display: inline-block;
      margin-top: 15px;
    }
  }
}

.admin-href{
  position: absolute;
  top: 0;
  right: 0;
}
