<div class="page-header">
  <h1>PLAY</h1>
  <img src="/assets/images/logo.png" alt="who wants to be a millionaire" >
</div>
<div>
  <app-loader *ngIf="requestHelper.loading"></app-loader>


  <mat-horizontal-stepper *ngIf="gameService.questions.length">
    <mat-step *ngFor="let question of gameService.questions; let i = index">
      <ng-template matStepLabel>Question {{i + 1}}</ng-template>

      <div class="question-wrapper">
        <h1>{{question.title}}</h1>
        <h4>POINT: {{question.weight}}</h4>

        <div class="answers-wrapper">
          <mat-card
            [ngClass]="{
              'right-answered': answer.answered && answer.isRight,
              'wrong-answered': answer.answered && !answer.isRight
            }"
            *ngFor="let answer of question.answers; let j = index"
            (click)="confirm(question, answer, i , j)">
            {{answer.title}}
          </mat-card>
        </div>
      </div>

      <div class="actions">
        <button [disabled]="i <= 0" mat-raised-button matStepperPrevious>Back</button>
        <button
          *ngIf="i < gameService.questions.length - 1; else finishTemplate"
          mat-raised-button
          color="accent"
          matStepperNext>
          Next
        </button>
        <ng-template #finishTemplate>
          <button (click)="finish()" mat-raised-button color="primary">
            Finish
          </button>
        </ng-template>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
