


.question-wrapper{


  min-height: 300px;

  h1, h4{
    text-align: center;
    margin-bottom: 5px;
  }

  .answers-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    mat-card {
      cursor: pointer;
      margin-top: 15px;
      width: 40%;


      &.right-answered{
        background: #3dba3d;
        color: whitesmoke;
      }

      &.wrong-answered {
        background: #db3c30;
        color: whitesmoke;
      }
    }
  }
}

.actions{
  text-align: center;

  button{
    margin: 0 5px;
  }
}
