<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="menu-wrapper">
      <a mat-button routerLink="/"><h3>Who wants to be a millionaire</h3></a>
      <div class="actions">
        <a mat-stroked-button routerLink="/game/play">Play</a>
        <a mat-stroked-button routerLink="/game/results">Results</a>
        <a mat-stroked-button href="http://localhost:8000/admin/" target="_blank">ADMIN</a>
        <button (click)="authService.logout()" mat-raised-button color="warn">Logout</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
