/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-error {
  background-color: #d32f2f;
}

.snackbar-success {
  background-color: #4caf50;
}

.page-header{
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;

  img{
    height: 80px;
  }
}

