<div class="error-wrapper mat-elevation-z2" >
  <h2 class="showError" *ngIf="false"><mat-icon>error_outline</mat-icon></h2>
</div>
<div class="page-wrapper">
  <div class="auth-wrapper mat-elevation-z3">
    <form class="login-wrapper" [formGroup]="registerForm" (submit)="register()">
      <div class="overlay">

        <div class="company">
          <img src="/assets/images/logo.png" alt="who wants to be a millionaire" >
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Username" required autofocus>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Username" required autofocus>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="First Name" formControlName="firstName" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
          </mat-form-field>
        </div>
        <div>
          <div>
            <button type="submit" [disabled]="requestHelper.loading"  color="primary" mat-raised-button class="login-button">Sign Up</button>
          </div>
          <a mat-button color="accent" routerLink="/login" class="login-button">Sign In</a>
        </div>
      </div>
    </form>
  </div>
</div>

<a mat-button
   color="warn"
   href="http://localhost:8000/admin/"
   target="_blank"
   class="admin-href">
  ADMIN
</a>

